.embla {
  margin: auto;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__controls {
  display: flex;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  background-color: transparent;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  :hover {
    color: black;
    background-color: transparent;
    border-color: transparent;
    transform: scale(1);
  }
}
//&.embla__button__white{
//  .embla__button{
//    color: white;
//  }
//}

.embla__button:disabled {
  color: #aaaaaa;
  cursor: default;

  :hover {
    color: #aaaaaa;
  }
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}
/* Планшеты (до 1024px) */
//@media (max-width: 1024px) {
//  .embla__container {
//    margin-left: 0;
//  }
//
//  .embla__slide {
//    flex: 0 0 80%;
//  }
//
//  .embla__buttons {
//    gap: 0.4rem;
//  }
//
//  .embla__button {
//    width: 3rem;
//    height: 3rem;
//  }
//
//  .embla__button__svg {
//    width: 30%;
//    height: 30%;
//  }
//}
//
///* Мобильные устройства (до 768px) */
//@media (max-width: 768px) {
//  .embla__slide {
//    flex: 0 0 90%;
//  }
//
//  .embla__button {
//    width: 2.5rem;
//    height: 2.5rem;
//  }
//
//  .embla__buttons {
//    gap: 0.3rem;
//    justify-content: center;
//  }
//
//  .embla__controls {
//    flex-direction: column;
//    align-items: center;
//    margin-top: 10px;
//  }
//
//  .embla__button__svg {
//    width: 25%;
//    height: 25%;
//  }
//}
