# This is a basic workflow to help you get started with Actions

name: Node.js CD

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Deploy using ssh
      uses: appleboy/ssh-action@v1.2.0
      with:
        host: ${{ vars.HOST }}
        username: root
        password: ${{ secrets.PASSWORD }}
        script: |
          cd ~/${{ vars.PM2_APP_NAME }}
          git reset --hard
          git pull
          export NVM_DIR=~/.nvm
          source ~/.nvm/nvm.sh
          rm -rf .next
          npm ci
          npm run lint
          npm run build
          pm2 restart ${{ vars.PM2_APP_NAME }}
